<p id="notice"><%= notice %></p>

<p>
  <b>タイトル：</b>
  <%= @page.title %>
</p>

<p>
  <b>せつめい：</b>
  <%= @page.text %>
</p>

<p>
  <%= image_tag @page.image.url %>
</p>

<%= link_to 'もどる', controller: 'view', action: 'index' %>
